<h1>Doctors</h1>
<hr />
<h2><%= @doctors.length <= 0 ? "No Providers" : "" %></h2>
<ul>
<% @doctors.each do |doctor| %>
  <li>
  <%= link_to doctor.name, doctor %> <br />  <%= link_to "Appointments", doctor_appointments_path(doctor) %>
  </li>
  <% end %>
  </ul>
  

